<div>
    <h1>Arquivos</h1>
    <div style="float: right">
        <button class="btn btn-primary" routerLink="/files/import-files">Importar arquivo</button>
    </div>
</div>
<div class="container-fluid">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Tipo</th>
                <th scope="col">Tamanho</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody *ngIf="files.length !== 0">
            <tr *ngFor="let item of files">
                <td>{{item.name}}</td>
                <td>{{item.type}}</td>
                <td>{{item.size}}</td>
                <td>
                    <button type="button" class="btn btn-outline-info">
                        opções
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot *ngIf="files.length === 0">
            <div>ops... Não tem nenhum cadastrado...</div>
        </tfoot>
    </table>
</div>